<html>
  <head>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    {{>header}}
    <img src="./img/ADINGO_final.gif" />
    <p>Hello this is {{name}}</p>
    {{>footer}}
  </body>
</html>